.version.index /* version checker */
{
	color: #00001A;
	background-color: #D308AF;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 1505.873089742768px;
	-pie-box-shadow: 0px 0px 250px 63px #C8FAC8;
	box-shadow: 0px 0px 250px #C8FAC8,0px 0px 250px #C8FAC8;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: #C8FAC8;
	padding-bottom: 0px;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	padding-bottom: 58px;
	width: 0.01px;
}

#pu4518
{
	width: 0.01px;
	margin-left: -143px;
}

#u4518
{
	z-index: 69;
	width: 285px;
	margin-right: -10000px;
}

#ptop
{
	width: 0.01px;
	margin-right: -10000px;
	margin-left: 343px;
}

#top
{
	margin-left: 287px;
}

#u6033
{
	z-index: 30;
	display: block;
	vertical-align: top;
	margin-top: 32px;
	position: relative;
}

.js #u6033.ose_pre_init
{
	opacity: 0.6;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
	filter: alpha(opacity=60);
}

#pu4588
{
	width: 0.01px;
	padding-bottom: 674px;
	margin-left: -92px;
	margin-top: -805px;
}

#u4588
{
	z-index: 71;
	width: 211px;
	top: 62px;
	left: -54px;
}

#u4619
{
	z-index: 16;
	width: 201px;
	height: 674px;
	top: 0px;
	left: 100px;
}

#u175-4
{
	z-index: 36;
	width: 161px;
	min-height: 27px;
	bottom: 290px;
	left: 120px;
}

#u591-4
{
	z-index: 65;
	width: 161px;
	min-height: 22px;
	bottom: 265px;
	left: 120px;
}

#menuu205
{
	z-index: 40;
	width: 161px;
	bottom: 103px;
	left: 120px;
}

#u206
{
	width: 161px;
}

#u209
{
	width: 161px;
	min-height: 17px;
	padding-bottom: 9px;
	margin-right: -10000px;
}

#u209:hover
{
	width: 161px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u210-4
{
	width: 161px;
	min-height: 17px;
	margin-right: -10000px;
	top: 4px;
}

#u209:hover #u210-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 161px;
	margin: 0px -10000px 0px 0px;
}

#u228
{
	width: 161px;
	min-height: 17px;
	padding-bottom: 9px;
	margin-right: -10000px;
}

#u209.MuseMenuActive,#u228:hover
{
	width: 161px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u231-4
{
	width: 161px;
	min-height: 17px;
	margin-right: -10000px;
	top: 4px;
}

#u209.MuseMenuActive #u210-4,#u228:hover #u231-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 161px;
	margin: 0px -10000px 0px 0px;
}

#u243
{
	width: 161px;
	min-height: 17px;
	padding-bottom: 10px;
	margin-right: -10000px;
}

#u228.MuseMenuActive,#u243:hover
{
	width: 161px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u246-4
{
	width: 161px;
	min-height: 17px;
	margin-right: -10000px;
	top: 5px;
}

#u228.MuseMenuActive #u231-4,#u243:hover #u246-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 161px;
	margin: 0px -10000px 0px 0px;
}

#u227,#u240,#u253
{
	width: 161px;
	margin-top: 2px;
}

#u254
{
	width: 161px;
	min-height: 17px;
	padding-bottom: 10px;
	margin-right: -10000px;
}

#u243.MuseMenuActive,#u254:hover
{
	width: 161px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u254.MuseMenuActive
{
	width: 161px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u256-4
{
	width: 161px;
	min-height: 17px;
	margin-right: -10000px;
	top: 5px;
}

#u243.MuseMenuActive #u246-4,#u254:hover #u256-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 161px;
	margin: 0px -10000px 0px 0px;
}

#u254.MuseMenuActive #u256-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 161px;
	margin: 0px -10000px 0px 0px;
}

#u6038-4
{
	z-index: 32;
	width: 516px;
	min-height: 64px;
	background-color: transparent;
	color: #646464;
	line-height: 59px;
	font-size: 49px;
	font-family: open-sans, sans-serif;
	font-weight: 300;
	font-style: italic;
	position: fixed;
	top: 248px;
	left: 200px;
}

#u4625
{
	z-index: 17;
	width: 386px;
	bottom: 0px;
	right: -85px;
}

#pbuttonu540
{
	width: 0.01px;
	margin-left: 200px;
	margin-top: 105px;
}

#buttonu540
{
	z-index: 24;
	width: 350px;
	border-style: none;
	padding-bottom: 58px;
	position: relative;
	margin-right: -10000px;
	background: transparent url("../images/pen_04.jpg") no-repeat center center;
	background-size: cover;
}

#u508-4
{
	z-index: 25;
	width: 229px;
	min-height: 46px;
	border-width: 5px;
	border-style: solid;
	line-height: 31px;
	position: relative;
	margin-right: -10000px;
	margin-top: 378px;
	left: 56px;
}

#buttonu540:hover #u508-4
{
	border-color: #3E3E3E;
	background-color: #3E3E3E;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 46px;
	width: 229px;
	margin: 378px -10000px 0px 0px;
}

#buttonu540.ButtonSelected #u508-4
{
	background-color: transparent;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 46px;
	width: 229px;
	margin: 378px -10000px 0px 0px;
}

.Buttons_Style
{
	border-width: 5px;
	border-style: solid;
	border-color: #3E3E3E;
	background-color: transparent;
}

#buttonu540:hover #u508-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#buttonu536
{
	z-index: 19;
	width: 350px;
	border-style: none;
	padding-bottom: 58px;
	position: relative;
	margin-right: -10000px;
	left: 390px;
	background: transparent url("../images/pen_05.jpg") no-repeat center center;
	background-size: cover;
}

#u506-4
{
	z-index: 20;
	width: 147px;
	min-height: 46px;
	border-width: 5px;
	border-style: solid;
	line-height: 31px;
	position: relative;
	margin-right: -10000px;
	margin-top: 378px;
	left: 97px;
}

#buttonu536:hover #u506-4
{
	border-color: #3E3E3E;
	background-color: #3E3E3E;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 46px;
	width: 147px;
	margin: 378px -10000px 0px 0px;
}

#buttonu536.ButtonSelected #u506-4
{
	background-color: transparent;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 46px;
	width: 147px;
	margin: 378px -10000px 0px 0px;
}

#buttonu536:hover #u506-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#buttonu540.ButtonSelected #u508-4 p,#buttonu536.ButtonSelected #u506-4 p
{
	color: #3E3E3E;
	visibility: inherit;
}

#u1075
{
	z-index: 29;
	width: 62px;
	height: 62px;
	position: fixed;
	-webkit-transform: matrix(0,1,-1,0,62,0);
	-ms-transform: matrix(0,1,-1,0,62,0);
	transform: matrix(0,1,-1,0,62,0);
	bottom: 371px;
	right: 0px;
	background: #F4F4F4 url("../images/arrows-mn_arrow_left.png") no-repeat center center;
}

#u1075:hover
{
	width: 62px;
	height: 62px;
	min-height: 0px;
	margin: 0px;
	background: #3E3E3E url("../images/arrows-mn_arrow_left%20white.png") no-repeat center center;
}

.js #u1075.ose_pre_init
{
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
}

#u3665
{
	z-index: 14;
	height: 37px;
	width: 36px;
	margin-left: 963px;
	top: -128px;
	margin-bottom: -37px;
}

#u3667
{
	z-index: 8;
	height: 37px;
	width: 36px;
	margin-left: 963px;
	top: -88px;
	margin-bottom: -37px;
}

#u3669
{
	z-index: 11;
	height: 37px;
	width: 36px;
	margin-left: 963px;
	top: -48px;
	margin-bottom: -37px;
}

#u530-4
{
	z-index: 2;
	width: 369px;
	min-height: 21px;
	margin-left: 200px;
	margin-top: 25px;
}

body
{
	position: relative;
	min-width: 960px;
}

#page .verticalspacer
{
	clear: both;
}

