.version.projects /* version checker */
{
	color: #000013;
	background-color: #022C81;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 881.9000000000001px;
	background-image: none;
	border-style: none;
	border-color: transparent;
	background-color: #3E3E3E;
	padding-bottom: 0px;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	padding-bottom: 40px;
	width: 0.01px;
}

#u6130
{
	z-index: 2;
	width: 1400px;
	height: 994px;
	top: 0px;
	left: 50%;
	margin-left: -680px;
}

#ptop
{
	width: 0.01px;
	margin-left: -150px;
}

#top
{
	width: 22px;
	margin-right: -10000px;
	left: 637px;
}

#u910-6
{
	z-index: 20;
	width: 575px;
	min-height: 149px;
	background-color: transparent;
	color: #FFFFFF;
	position: relative;
	margin-right: -10000px;
	margin-top: 50px;
	left: 350px;
}

#slideshowu5310
{
	z-index: 27;
	width: 0.01px;
	height: 501px;
	position: relative;
	margin-right: -10000px;
	margin-top: 251px;
	left: 350px;
}

#u5321
{
	position: absolute;
	width: 740px;
	height: 501px;
	background-color: transparent;
}

#u5321popup
{
	z-index: 28;
}

#u5324
{
	z-index: 29;
	width: 740px;
	height: 501px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u5373
{
	z-index: 31;
	width: 740px;
	height: 501px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u5382
{
	z-index: 33;
	width: 740px;
	height: 501px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u5391
{
	z-index: 35;
	width: 740px;
	height: 501px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u5324_img,#u5373_img,#u5382_img,#u5391_img
{
	margin-top: -120px;
	margin-bottom: -119px;
}

#u5729
{
	z-index: 37;
	width: 740px;
	height: 501px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u5729_img
{
	padding: 107px 226px 106px;
}

#u5738
{
	z-index: 39;
	width: 740px;
	height: 501px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u5324_clip,#u5373_clip,#u5382_clip,#u5391_clip,#u5738_clip
{
	overflow: hidden;
	width: 740px;
	height: 501px;
}

#u5738_img
{
	margin: -55px 64px -56px;
}

.SSFirstButton,.SSPreviousButton,.SSNextButton,.SSLastButton,.SSSlideLink,.SSCloseButton /* slideshowFreeStyle */
{
	cursor: pointer;
}

.SSSlideLoading /* slideshowFreeStyle */
{
	background: url("../images/loading.gif") no-repeat center center;
}

#u6117
{
	z-index: 89;
	width: 920px;
	height: 50px;
	position: relative;
	margin-right: -10000px;
	margin-top: 200px;
	left: 170px;
}

#u6074
{
	z-index: 127;
	width: 300px;
	margin-right: -10000px;
}

#u4588
{
	z-index: 125;
	width: 211px;
	top: 62px;
	left: -54px;
}

#u175-4
{
	z-index: 92;
	width: 161px;
	min-height: 27px;
	bottom: 279px;
	left: 40px;
}

#u591-4
{
	z-index: 121;
	width: 161px;
	min-height: 22px;
	bottom: 254px;
	left: 39px;
}

#menuu205
{
	z-index: 96;
	width: 161px;
	bottom: 103px;
	left: 40px;
}

#u206
{
	width: 161px;
}

#u209
{
	width: 161px;
	min-height: 17px;
	padding-bottom: 9px;
	margin-right: -10000px;
}

#u209:hover
{
	width: 161px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u210-4
{
	width: 161px;
	min-height: 17px;
	margin-right: -10000px;
	top: 4px;
}

#u209:hover #u210-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 161px;
	margin: 0px -10000px 0px 0px;
}

#u228
{
	width: 161px;
	min-height: 17px;
	padding-bottom: 9px;
	margin-right: -10000px;
}

#u209.MuseMenuActive,#u228:hover
{
	width: 161px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u231-4
{
	width: 161px;
	min-height: 17px;
	margin-right: -10000px;
	top: 4px;
}

#u209.MuseMenuActive #u210-4,#u228:hover #u231-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 161px;
	margin: 0px -10000px 0px 0px;
}

#u243
{
	width: 161px;
	min-height: 17px;
	padding-bottom: 10px;
	margin-right: -10000px;
}

#u228.MuseMenuActive,#u243:hover
{
	width: 161px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u246-4
{
	width: 161px;
	min-height: 17px;
	margin-right: -10000px;
	top: 5px;
}

#u228.MuseMenuActive #u231-4,#u243:hover #u246-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 161px;
	margin: 0px -10000px 0px 0px;
}

#u227,#u240,#u253
{
	width: 161px;
	margin-top: 2px;
}

#u254
{
	width: 161px;
	min-height: 17px;
	padding-bottom: 10px;
	margin-right: -10000px;
}

#u243.MuseMenuActive,#u254:hover
{
	width: 161px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u254.MuseMenuActive
{
	width: 161px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u256-4
{
	width: 161px;
	min-height: 17px;
	margin-right: -10000px;
	top: 5px;
}

#u243.MuseMenuActive #u246-4,#u254:hover #u256-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 161px;
	margin: 0px -10000px 0px 0px;
}

#u254.MuseMenuActive #u256-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 161px;
	margin: 0px -10000px 0px 0px;
}

#u4625
{
	z-index: 18;
	width: 300px;
	bottom: 0px;
	right: -50px;
}

#u6119
{
	z-index: 90;
	width: 920px;
	height: 50px;
	margin-left: 20px;
	top: -2px;
	margin-bottom: -2px;
	position: relative;
}

#slideshowu5571
{
	z-index: 41;
	width: 0.01px;
	height: 498px;
	margin-left: 200px;
	position: relative;
}

#u5582
{
	position: absolute;
	width: 683px;
	height: 498px;
	background-color: transparent;
}

#u5582popup
{
	z-index: 42;
}

#u5585
{
	z-index: 43;
	width: 683px;
	height: 498px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u5585_img
{
	padding: 70px 196px 69px 197px;
}

#u5629
{
	z-index: 45;
	width: 683px;
	height: 498px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u5629_img
{
	padding: 76px 196px 76px 197px;
}

#u5638
{
	z-index: 47;
	width: 683px;
	height: 498px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u5638_img
{
	padding: 140px 167px 140px 168px;
}

#u5660
{
	z-index: 49;
	width: 683px;
	height: 498px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u5669
{
	z-index: 51;
	width: 683px;
	height: 498px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u5660_img,#u5669_img
{
	margin: -57px 35px -57px 36px;
}

#u5758
{
	z-index: 53;
	width: 683px;
	height: 498px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u5758_img
{
	margin-left: -156px;
	margin-right: -157px;
}

#u5767
{
	z-index: 55;
	width: 683px;
	height: 498px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u5660_clip,#u5669_clip,#u5758_clip,#u5767_clip
{
	overflow: hidden;
	width: 683px;
	height: 498px;
}

#u5767_img
{
	margin-left: -38px;
	margin-right: -39px;
}

#u6122
{
	z-index: 91;
	width: 920px;
	height: 50px;
	margin-left: 20px;
	margin-top: 2px;
	position: relative;
}

.ie #u6117,.ie #u6119,.ie #u6122
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#slideshowu5840
{
	z-index: 67;
	width: 0.01px;
	height: 500px;
	margin-left: 200px;
	position: relative;
}

#u5851popup
{
	z-index: 68;
}

#u5854
{
	z-index: 69;
	width: 683px;
	height: 500px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u5893
{
	z-index: 71;
	width: 683px;
	height: 500px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u5908
{
	z-index: 73;
	width: 683px;
	height: 500px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u5908_img
{
	padding: 92px 197px 92px 198px;
}

#u5917
{
	z-index: 75;
	width: 683px;
	height: 500px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u5917_img
{
	margin: 92px -41px;
}

#u5931
{
	z-index: 77;
	width: 683px;
	height: 500px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u5931_img
{
	padding: 92px 183px 92px 184px;
}

#u5943
{
	z-index: 79;
	width: 683px;
	height: 500px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u5854_img,#u5893_img,#u5943_img
{
	margin-top: -91px;
	margin-bottom: -92px;
}

#slideshowu5678
{
	z-index: 57;
	width: 0.01px;
	height: 500px;
	margin-left: 200px;
	margin-top: 50px;
	position: relative;
}

#u5689popup
{
	z-index: 58;
}

#u5692
{
	z-index: 59;
	width: 683px;
	height: 500px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u5692_img
{
	margin-top: -225px;
	margin-bottom: -225px;
}

#u5788
{
	z-index: 61;
	width: 683px;
	height: 500px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u5788_img
{
	margin-top: -205px;
	margin-bottom: -206px;
}

#u5816
{
	z-index: 63;
	width: 683px;
	height: 500px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u5830
{
	z-index: 65;
	width: 683px;
	height: 500px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u5830_img
{
	margin: -26px 126px -27px 127px;
}

#slideshowu5953
{
	z-index: 81;
	width: 0.01px;
	height: 500px;
	margin-left: 200px;
	margin-top: 50px;
	position: relative;
}

#u5851,#u5689,#u5964
{
	position: absolute;
	width: 683px;
	height: 500px;
	background-color: transparent;
}

#u5964popup
{
	z-index: 82;
}

#u5967
{
	z-index: 83;
	width: 683px;
	height: 500px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u5816_img,#u5967_img
{
	padding-left: 127px;
	padding-right: 126px;
}

#u6011
{
	z-index: 85;
	width: 683px;
	height: 500px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u6011_img
{
	padding: 129px 126px 129px 127px;
}

#u6020
{
	z-index: 87;
	width: 683px;
	height: 500px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u5854_clip,#u5893_clip,#u5917_clip,#u5943_clip,#u5692_clip,#u5788_clip,#u5830_clip,#u6020_clip
{
	overflow: hidden;
	width: 683px;
	height: 500px;
}

#u6020_img
{
	margin: -36px 126px -37px 127px;
}

#u1104
{
	z-index: 26;
	width: 62px;
	height: 62px;
	position: fixed;
	-webkit-transform: matrix(0,1,-1,0,62,0);
	-ms-transform: matrix(0,1,-1,0,62,0);
	transform: matrix(0,1,-1,0,62,0);
	bottom: 182px;
	right: 0px;
	background: #F4F4F4 url("../images/arrows-mn_arrow_left.png") no-repeat center center;
}

#u1104:hover
{
	width: 62px;
	height: 62px;
	min-height: 0px;
	margin: 0px;
	background: #3E3E3E url("../images/arrows-mn_arrow_left%20white.png") no-repeat center center;
}

.js #u1104.ose_pre_init
{
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
}

#u3665
{
	z-index: 12;
	width: 36px;
	margin-left: 963px;
	top: -129px;
	margin-bottom: -37px;
}

#u3667
{
	z-index: 8;
	width: 36px;
	margin-left: 963px;
	top: -89px;
	margin-bottom: -37px;
}

#u3669
{
	z-index: 10;
	width: 36px;
	margin-left: 963px;
	top: -49px;
	margin-bottom: -37px;
}

#u3665:hover,#u3667:hover,#u3669:hover
{
	width: 36px;
	min-height: 0px;
	margin: 0px 0px -37px 963px;
}

#u530-4
{
	z-index: 3;
	width: 369px;
	min-height: 21px;
	margin-left: 200px;
	margin-top: 24px;
}

#u6134-4
{
	z-index: 14;
	width: 365px;
	min-height: 18px;
	margin-left: 204px;
}

body
{
	position: relative;
	min-width: 960px;
}

#page .verticalspacer
{
	clear: both;
}

